*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
app/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore

*.apk
*.ap_
*.aab
dump*.txt

*.jks
*.keystore
zero-calc-key.jks

ApkVersions/
build/
app/build/
app/release/
